{:paths ["src"]

 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://repo.clojars.org"}
  "sonatype-snapshots" {:url "https://oss.sonatype.org/content/repositories/snapshots"
                        :snapshots {:enabled true}}}

 :deps
 {org.clojure/clojure       {:mvn/version "1.12.0"}
  io.pkts/pkts-core         {:mvn/version "3.0.18"}
  criterium/criterium       {:mvn/version "0.4.6"}
  uncomplicate/fluokitten   {:mvn/version "0.10.0"}

  ;; === Neanderthal (CPU, OpenBLAS) ===
  uncomplicate/neanderthal {:mvn/version "0.49.0"}}

;;   uncomplicate/neanderthal        {:mvn/version "0.49.0"}
;;   uncomplicate/neanderthal-native {:mvn/version "0.49.0"
;;                                    :mvn/repos {"clojars" {:url "https://repo.clojars.org"}}}
;;   net.java.dev.jna/jna            {:mvn/version "5.14.0"}}

 :aliases
 {:test
  {:extra-deps {midje/midje {:mvn/version "1.10.9"}}
   :extra-paths ["test"]}}}
